In [111]:
#importar librerias y leer los archivos csv
import pandas as pd

df_sedes = pd.read_csv('data original/lista-sedes.csv')
df_migraciones = pd.read_csv('data original/datos_migraciones.csv')
df_secciones = pd.read_csv('data original/lista-secciones.csv')
df_sedes_datos = pd.read_csv('data original/lista-sedes-datos.csv', sep=',', error_bad_lines=False, warn_bad_lines=True)

/var/folders/m9/2_1nwl_907v26kxr1jj5r__40000gn/T/ipykernel_7012/3421451258.py:7: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_sedes_datos = pd.read_csv('data original/lista-sedes-datos.csv', sep=',', error_bad_lines=False, warn_bad_lines=True)
/var/folders/m9/2_1nwl_907v26kxr1jj5r__40000gn/T/ipykernel_7012/3421451258.py:7: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_sedes_datos = pd.read_csv('data original/lista-sedes-datos.csv', sep=',', error_bad_lines=False, warn_bad_lines=True)
Skipping line 16: expected 37 fields, saw 38

In [112]:
#buscar nulls y columnas unicas

print(df_sedes['sede_id'].nunique())
print(df_sedes['sede_desc_castellano'].nunique())
print(df_sedes['sede_desc_ingles'].nunique())
print(df_sedes['pais_iso_2'].nunique())
print(df_sedes['pais_iso_3'].nunique())
print(df_sedes['pais_castellano'].nunique())
print(df_sedes['pais_ingles'].nunique())
print(df_sedes['sede_tipo'].nunique())
print(df_sedes['estado'].nunique())
#find any nulls
print(df_sedes.isnull().sum())

164
164
164
91
91
91
91
5
2
sede_id                 0
sede_desc_castellano    0
sede_desc_ingles        0
pais_iso_2              0
pais_iso_3              0
pais_castellano         0
pais_ingles             0
ciudad_castellano       0
ciudad_ingles           0
estado                  0
sede_tipo               0
dtype: int64

In [114]:

# unique values column Migration by Gender Name
print("Valores de la columna 'Migration by Gender Name':", df_migraciones['Migration by Gender Name'].unique())

Valores de la columna 'Migration by Gender Name': ['Female' 'Male' 'Total' nan]

In [115]:
# cantidad de filas con nan en columna Migration by Gender Name
print("Cantidad de filas con NaN en 'Migration by Gender Name':", df_migraciones['Migration by Gender Name'].isna().sum())

Cantidad de filas con NaN en 'Migration by Gender Name': 5

In [116]:
# ELIMINAR COLUMNAS QUE SABEMOS QUE NO VAMOS A USAR

# MIGRACIONES
# las columnas con códigos son rebundantes, las podemos eliminar
df_migraciones = df_migraciones.drop(columns=['Migration by Gender Code', 'Country Origin Code', 'Country Dest Code'])

# la columna 'Migration by Gender Name'
# no es necesaria para las consultas, basta con utilizar las filas que tienen Total
# filtramos las filas que tienen Total en 'Migration by Gender Name'
df_migraciones = df_migraciones[df_migraciones['Migration by Gender Name'] == 'Total']
# eliminamos la columna 'Migration by Gender Name'
df_migraciones = df_migraciones.drop(columns=['Migration by Gender Name'])

In [123]:
print(df_migraciones.columns)
df_migraciones.head()

Index(['Country Origin Name', 'Country Dest Name', '1960 [1960]',
       '1970 [1970]', '1980 [1980]', '1990 [1990]', '2000 [2000]'],
      dtype='object')

,Country Origin Name,Country Dest Name,1960 [1960],1970 [1970],1980 [1980],1990 [1990],2000 [2000]
462,Afghanistan,Afghanistan,0,0,0,0,0
463,Afghanistan,Albania,0,0,0,0,0
464,Afghanistan,Algeria,41,16,13,10,8
465,Afghanistan,American Samoa,0,0,0,0,0
466,Afghanistan,Andorra,0,0,2,5,6

In [117]:
# unique values column temas 
print("Valores de la columna 'temas':", df_secciones['temas'].unique())

Valores de la columna 'temas': [nan]

In [127]:
# valores unicos en sedes columna sede_tipo
print("Valores unicos en sedes columna sede_tipo:", df_sedes['sede_tipo'].unique())
print("Valores unicos en sedes columna estado:", df_sedes['estado'].unique())

Valores unicos en sedes columna sede_tipo: ['Consulado' 'Consulado  General  y  Centro  de  Promoción ' 'Sede  Fija '
 'Embajada' 'Misión  Permanente ']
Valores unicos en sedes columna estado: ['Activo' 'Inactivo']

In [128]:
# SEDES

# Las columnas sede_desc_ingles,pais_iso_2,pais_iso_3,pais_ingles,ciudad_ingles, no son necesarias para las consultas
df_sedes = df_sedes.drop(columns=['sede_desc_ingles', 'pais_iso_2', 'pais_iso_3', 'pais_ingles', 'ciudad_ingles'])

In [129]:
df_sedes.head()

,sede_id,sede_desc_castellano,pais_castellano,ciudad_castellano,estado,sede_tipo
0,CALEG,Consulado General en Porto Alegre,REPÚBLICA FEDERATIVA DEL BRASIL,Porto Alegre,Activo,Consulado
1,CANTO,Consulado en Antofagasta,REPÚBLICA DE CHILE,Antofagasta,Activo,Consulado
2,CAREN,Consulado General en Punta Arenas,REPÚBLICA DE CHILE,Punta Arenas,Activo,Consulado
3,CASUN,Consulado General en Asunción,REPÚBLICA DEL PARAGUAY,Asunción,Activo,Consulado
4,CATLA,Consulado General en Atlanta,Estados Unidos de América,Atlanta,Activo,Consulado

In [118]:
# SECCIONES
# las columnas 'sede_desc_ingles' no es necesaria ya que ya tenemos el nombre en español
df_secciones = df_secciones.drop(columns=['sede_desc_ingles'])

# las columnas 
# 'nombre_titular, apellido_titular, cargo_titular, 
# telefono_principal, telefonos_adicionales, celular_de_guardia, 
# celulares_adicionales, fax_principal, faxes_adicionales, sitio_web, sitios_web_adicionales, comentario_del_horario,
# correo_electronico, correos_adicionales, atencion_dia_desde, atencion_dia_hasta, atencion_hora_desde, atencion_hora_hasta' 
# no son necesarias ya que no vamos a analizar los datos de contacto ni de los titulares de las sedes
df_secciones = df_secciones.drop(columns=[
    'nombre_titular', 'apellido_titular', 'cargo_titular', 'telefono_principal', 'telefonos_adicionales', 
    'celular_de_guardia', 'celulares_adicionales', 'fax_principal', 'faxes_adicionales', 
    'sitio_web', 'sitios_web_adicionales', 'comentario_del_horario',
    'correo_electronico', 'correos_adicionales', 'atencion_dia_desde', 'atencion_dia_hasta', 
    'atencion_hora_desde', 'atencion_hora_hasta'])

# también sacamos la columna temas, ya que está vacía
df_secciones = df_secciones.drop(columns=['temas'])
df_secciones.head()

  sede_id sede_desc_castellano tipo_seccion
0   ECHES       Administración      Seccion
1   ERUNI       Administración      Seccion
2   EHAIT       Administración      Seccion
3   EKENY       Administración      Seccion
4   ERUNI       Administración      Seccion

In [119]:
df_sedes_datos.columns

Index(['sede_id', 'sede_desc_castellano', 'sede_desc_ingles',
       'pais_castellano', 'pais_ingles', 'region_geografica', 'pais_iso_2',
       'pais_iso_3', 'pais_codigo_telefonico', 'ciudad_castellano',
       'ciudad_ingles', 'ciudad_zona_horaria_gmt', 'ciudad_codigo_telefonico',
       'estado', 'titular_nombre', 'titular_apellido', 'titular_cargo',
       'direccion', 'codigo_postal', 'telefono_principal',
       'telefonos_adicionales', 'celular_guardia', 'celulares_adicionales',
       'fax_principal', 'faxes_adicionales', 'correo_electronico',
       'correos_electronicos_adicionales', 'sitio_web',
       'sitios_web_adicionales', 'redes_sociales', 'atencion_dia_desde',
       'atencion_dia_hasta', 'atencion_hora_desde', 'atencion_hora_hasta',
       'atencion_comentario', 'concurrencias', 'circunscripcion'],
      dtype='object')

In [124]:
# valores unicos para concurrencias
#print("Valores de la columna 'concurrencias':", df_sedes_datos['concurrencias'].unique())

In [122]:
# LISTA-SEDES-DATOS

# las columnas 'sede_desc_ingles', 'ciudad_ingles' y 'pais_ingles' no es necesaria ya que ya tenemos el nombre en español
df_sedes_datos = df_sedes_datos.drop(columns=['sede_desc_ingles', 'ciudad_ingles', 'pais_ingles'])

# las columnas 'pais_iso_2' y 'pais_iso_3' y 'codigo_postal', 'telefono_principal' no son necesarias para ninguna consulta
df_sedes_datos = df_sedes_datos.drop(columns=['pais_iso_2', 'pais_iso_3', 'codigo_postal','telefono_principal'])

# la columna 'pais_codigo_telefonico' no es necesaria para ninguna consulta
df_sedes_datos = df_sedes_datos.drop(columns=['pais_codigo_telefonico'])

# las columnas 'ciudad_zona_horaria_gmt	ciudad_codigo_telefonico titular_nombre	titular_apellido	titular_cargo	direccion' no son necesarias para ninguna consulta
df_sedes_datos = df_sedes_datos.drop(columns=['ciudad_zona_horaria_gmt', 'ciudad_codigo_telefonico', 'titular_nombre',	'titular_apellido',	'titular_cargo',	'direccion'])

# las columnas 'sitio_web	sitios_web_adicionales telefonos_adicionales	celular_guardia	celulares_adicionales	fax_principal	faxes_adicionales	correo_electronico	correos_electronicos_adicionales' no son necesarias para ninguna consulta
df_sedes_datos = df_sedes_datos.drop(columns=['sitio_web', 'sitios_web_adicionales', 'telefonos_adicionales',	'celular_guardia',	'celulares_adicionales',	'fax_principal',	'faxes_adicionales'	, 'correo_electronico',	'correos_electronicos_adicionales'])

# las columnas 'atencion_dia_desde	atencion_dia_hasta	atencion_hora_desde	atencion_hora_hasta	atencion_comentario' no son necesarias para ninguna consulta
df_sedes_datos = df_sedes_datos.drop(columns=['atencion_dia_desde', 'atencion_dia_hasta', 'atencion_hora_desde', 'atencion_hora_hasta', 'atencion_comentario'])

In [125]:
df_sedes_datos.head()

,sede_id,sede_desc_castellano,pais_castellano,region_geografica,ciudad_castellano,estado,redes_sociales,concurrencias,circunscripcion
0,CALEG,Consulado General en Porto Alegre,REPÚBLICA FEDERATIVA DEL BRASIL,AMÉRICA DEL SUR,Porto Alegre,Activo,https://twitter.com/ArgPortoAlegre // https:...,NaN,Aceguá; Água Santa; Agudo; Alto Alegre; ...
1,CANTO,Consulado en Antofagasta,REPÚBLICA DE CHILE,AMÉRICA DEL SUR,Antofagasta,Activo,https://www.facebook.com/Consulado-de-la-Rep%C...,NaN,Región de Arica y Parinacota - Capital ...
2,CAREN,Consulado General en Punta Arenas,REPÚBLICA DE CHILE,AMÉRICA DEL SUR,Punta Arenas,Activo,https://www.facebook.com/profile.php?id=100014...,NaN,Región XII Magallanes y Antártica Chilena...
3,CASUN,Consulado General en Asunción,REPÚBLICA DEL PARAGUAY,AMÉRICA DEL SUR,Asunción,Activo,@ArgentinaEnAsuncion //,NaN,"Departamentos de Boquerón, Alto Paraguay, P..."
4,CATLA,Consulado General en Atlanta,Estados Unidos de América,AMÉRICA DEL NORTE,Atlanta,Activo,NaN,NaN,"Estados de Alabama, Carolina del Sur, Geor..."