In [343]:
#importar librerias y leer los archivos csv
import pandas as pd

df_sedes = pd.read_csv('data original/lista-sedes.csv')
df_migraciones = pd.read_csv('data original/datos_migraciones.csv')
df_secciones = pd.read_csv('data original/lista-secciones.csv')
df_sedes_datos = pd.read_csv('data original/lista-sedes-datos.csv', sep=',', error_bad_lines=False, warn_bad_lines=True)

/var/folders/m9/2_1nwl_907v26kxr1jj5r__40000gn/T/ipykernel_71789/3421451258.py:7: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_sedes_datos = pd.read_csv('data original/lista-sedes-datos.csv', sep=',', error_bad_lines=False, warn_bad_lines=True)
/var/folders/m9/2_1nwl_907v26kxr1jj5r__40000gn/T/ipykernel_71789/3421451258.py:7: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_sedes_datos = pd.read_csv('data original/lista-sedes-datos.csv', sep=',', error_bad_lines=False, warn_bad_lines=True)
Skipping line 16: expected 37 fields, saw 38

In [344]:
# cantidad de veces que aparece el valor 'Argentinos  en  el  exterior' en la columna 'ciudad' de la tabla df_lista_sedes
df_sedes_ciudad = df_sedes[df_sedes['ciudad_castellano'] == 'Argentinos  en  el  exterior']
print('Cantidad de veces que aparece el valor "Argentinos  en  el  exterior" en la columna "ciudad_castellano" de la tabla df_lista_sedes: ', df_sedes_ciudad.shape[0])
df_sedes.shape[0]

Cantidad de veces que aparece el valor "Argentinos  en  el  exterior" en la columna "ciudad_castellano" de la tabla df_lista_sedes:  1

164

In [345]:
# cantidad de valores que tienen caracteres no dígitos o - en la columna 'codigo_postal' en la tabla lista-sedes-datos.csv
df_sedes_datos_codigo_postal = df_sedes_datos[df_sedes_datos['codigo_postal'].str.contains(r'\D|-', na=False)]
print('Cantidad de valores que tienen caracteres no dígitos o - en la columna "codigo_postal" en la tabla lista-sedes-datos.csv: ', df_sedes_datos_codigo_postal.shape[0])
df_sedes_datos.shape[0]

Cantidad de valores que tienen caracteres no dígitos o - en la columna "codigo_postal" en la tabla lista-sedes-datos.csv:  64

163

In [346]:
# cantidad de valores que no son nulos, y no tienen una dirección de correo válida (una sola palabra y tiene @) en la columna 'correo_electronico' en la tabla lista-secciones.csv
df_secciones_no_validas = df_secciones[
    df_secciones['correo_electronico'].notna() &
    (df_secciones['correo_electronico'].astype(str).str.contains(" ") |
    ~df_secciones['correo_electronico'].astype(str).str.contains("@"))
    ]
print('Cantidad de valores que tienen direcciones no válidas en la columna "correo_electronico" en la tabla lista-secciones.csv: ', df_secciones_no_validas.shape[0])
df_secciones.shape[0]

Cantidad de valores que tienen direcciones no válidas en la columna "correo_electronico" en la tabla lista-secciones.csv:  17

516

In [347]:
df_secciones.head()

,sede_id,sede_desc_castellano,sede_desc_ingles,tipo_seccion,nombre_titular,apellido_titular,cargo_titular,telefono_principal,telefonos_adicionales,celular_de_guardia,...,correo_electronico,correos_adicionales,sitio_web,sitios_web_adicionales,atencion_dia_desde,atencion_dia_hasta,atencion_hora_desde,atencion_hora_hasta,comentario_del_horario,temas
0,ECHES,Administración,Administrative Section,Seccion,María Verónica,Skerianz,Jefe de Sección Administrativa,NaN,NaN,NaN,...,eches@mrecic.gov.ar,NaN,NaN,NaN,Lunes,Viernes,09:00:00,17:00:00,NaN,NaN
1,ERUNI,Administración,Administration,Seccion,María Carolina,Etcheverry,Agregada,NaN,NaN,NaN,...,eruni@mrecic.gov.ar,NaN,NaN,NaN,Lunes,Viernes,09:00:00,18:00:00,NaN,NaN
2,EHAIT,Administración,Todo el territorio de Haiti,Seccion,Sergio Fabián,Pérez Godoy,Jefe de Sección Administrativa,509 2940-67/11/12/13/14,NaN,00 509 3676 0359,...,ehait@cancilleria.gob.ar,NaN,NaN,NaN,Lunes,Viernes,NaN,NaN,9.00 hs a 17.00 hs,NaN
3,EKENY,Administración,Administrative Section,Seccion,Ximena Inés,Toledo,Jefe/a de Oficina,NaN,NaN,NaN,...,ekeny@cancilleria.gob.ar,NaN,NaN,NaN,Lunes,Viernes,09:00:00,16:00:00,NaN,NaN
4,ERUNI,Administración,Administracion,Seccion,Carlos Esteban,Pronato,Jefe de Sección,44 2073181300,NaN,NaN,...,eruni@mrecic.gov.ar,NaN,NaN,NaN,Lunes,Viernes,09:00:00,18:00:00,NaN,NaN

In [348]:

# unique values column Migration by Gender Name
print("Valores de la columna 'Migration by Gender Name':", df_migraciones['Migration by Gender Name'].unique())

Valores de la columna 'Migration by Gender Name': ['Female' 'Male' 'Total' nan]

In [349]:
# cantidad de filas con nan en columna Migration by Gender Name
print("Cantidad de filas con NaN en 'Migration by Gender Name':", df_migraciones['Migration by Gender Name'].isna().sum())

Cantidad de filas con NaN en 'Migration by Gender Name': 5

In [350]:
# ELIMINAR COLUMNAS QUE SABEMOS QUE NO VAMOS A USAR

# MIGRACIONES
# las columnas con códigos son rebundantes, las podemos eliminar
df_migraciones = df_migraciones.drop(columns=['Migration by Gender Code', 'Country Origin Code', 'Country Dest Code'])

# la columna 'Migration by Gender Name'
# no es necesaria para las consultas, basta con utilizar las filas que tienen Total
# filtramos las filas que tienen Total en 'Migration by Gender Name'
df_migraciones = df_migraciones[df_migraciones['Migration by Gender Name'] == 'Total']
# eliminamos la columna 'Migration by Gender Name'
df_migraciones = df_migraciones.drop(columns=['Migration by Gender Name'])

In [351]:
df_migraciones.head()

,Country Origin Name,Country Dest Name,1960 [1960],1970 [1970],1980 [1980],1990 [1990],2000 [2000]
462,Afghanistan,Afghanistan,0,0,0,0,0
463,Afghanistan,Albania,0,0,0,0,0
464,Afghanistan,Algeria,41,16,13,10,8
465,Afghanistan,American Samoa,0,0,0,0,0
466,Afghanistan,Andorra,0,0,2,5,6

In [352]:
# valores unicos en sedes columna sede_tipo
print("Valores unicos en sedes columna sede_tipo:", df_sedes['sede_tipo'].unique())
print("Valores unicos en sedes columna estado:", df_sedes['estado'].unique())

Valores unicos en sedes columna sede_tipo: ['Consulado' 'Consulado  General  y  Centro  de  Promoción ' 'Sede  Fija '
 'Embajada' 'Misión  Permanente ']
Valores unicos en sedes columna estado: ['Activo' 'Inactivo']

In [353]:
# SEDES

# Las columnas sede_desc_ingles,pais_iso_2,pais_iso_3,pais_ingles,ciudad_ingles, no son necesarias para las consultas
df_sedes = df_sedes.drop(columns=['pais_iso_2', 'pais_iso_3', 'ciudad_ingles'])
#'sede_desc_ingles', 'pais_ingles',

In [354]:
df_sedes.head()

,sede_id,sede_desc_castellano,sede_desc_ingles,pais_castellano,pais_ingles,ciudad_castellano,estado,sede_tipo
0,CALEG,Consulado General en Porto Alegre,Consulate General in PORTO ALEGRE,REPÚBLICA FEDERATIVA DEL BRASIL,FEDERATIVE REPUBLIC OF BRAZIL,Porto Alegre,Activo,Consulado
1,CANTO,Consulado en Antofagasta,Consulate in ANTOFAGASTA,REPÚBLICA DE CHILE,REPUBLIC OF CHILE,Antofagasta,Activo,Consulado
2,CAREN,Consulado General en Punta Arenas,Consulate General in Punta Arenas,REPÚBLICA DE CHILE,REPUBLIC OF CHILE,Punta Arenas,Activo,Consulado
3,CASUN,Consulado General en Asunción,Consulate General in Asuncion,REPÚBLICA DEL PARAGUAY,REPUBLIC OF PARAGUAY,Asunción,Activo,Consulado
4,CATLA,Consulado General en Atlanta,Consulate General in Atlanta,Estados Unidos de América,UNITED STATES OF AMERICA,Atlanta,Activo,Consulado

In [355]:
# unique values column temas 
print("Valores de la columna 'temas':", df_secciones['temas'].unique())

Valores de la columna 'temas': [nan]

In [356]:
# SECCIONES
# las columnas 'sede_desc_ingles' no es necesaria ya que ya tenemos el nombre en español
df_secciones = df_secciones.drop(columns=['sede_desc_ingles'])

# las columnas 
# 'nombre_titular, apellido_titular, cargo_titular, 
# telefono_principal, telefonos_adicionales, celular_de_guardia, 
# celulares_adicionales, fax_principal, faxes_adicionales, sitio_web, sitios_web_adicionales, comentario_del_horario,
# correo_electronico, correos_adicionales, atencion_dia_desde, atencion_dia_hasta, atencion_hora_desde, atencion_hora_hasta' 
# no son necesarias ya que no vamos a analizar los datos de contacto ni de los titulares de las sedes
df_secciones = df_secciones.drop(columns=[
    'nombre_titular', 'apellido_titular', 'cargo_titular', 'telefono_principal', 'telefonos_adicionales', 
    'celular_de_guardia', 'celulares_adicionales', 'fax_principal', 'faxes_adicionales', 
    'sitio_web', 'sitios_web_adicionales', 'comentario_del_horario',
    'correo_electronico', 'correos_adicionales', 'atencion_dia_desde', 'atencion_dia_hasta', 
    'atencion_hora_desde', 'atencion_hora_hasta'])

# también sacamos la columna temas, ya que está vacía
df_secciones = df_secciones.drop(columns=['temas'])
df_secciones.head()

  sede_id sede_desc_castellano tipo_seccion
0   ECHES       Administración      Seccion
1   ERUNI       Administración      Seccion
2   EHAIT       Administración      Seccion
3   EKENY       Administración      Seccion
4   ERUNI       Administración      Seccion

In [357]:
df_sedes_datos.columns

Index(['sede_id', 'sede_desc_castellano', 'sede_desc_ingles',
       'pais_castellano', 'pais_ingles', 'region_geografica', 'pais_iso_2',
       'pais_iso_3', 'pais_codigo_telefonico', 'ciudad_castellano',
       'ciudad_ingles', 'ciudad_zona_horaria_gmt', 'ciudad_codigo_telefonico',
       'estado', 'titular_nombre', 'titular_apellido', 'titular_cargo',
       'direccion', 'codigo_postal', 'telefono_principal',
       'telefonos_adicionales', 'celular_guardia', 'celulares_adicionales',
       'fax_principal', 'faxes_adicionales', 'correo_electronico',
       'correos_electronicos_adicionales', 'sitio_web',
       'sitios_web_adicionales', 'redes_sociales', 'atencion_dia_desde',
       'atencion_dia_hasta', 'atencion_hora_desde', 'atencion_hora_hasta',
       'atencion_comentario', 'concurrencias', 'circunscripcion'],
      dtype='object')

In [358]:
# valores unicos para concurrencias
#print("Valores de la columna 'concurrencias':", df_sedes_datos['concurrencias'].unique())

In [359]:
# LISTA-SEDES-DATOS

# las columnas 'sede_desc_ingles', 'ciudad_ingles' y 'pais_ingles' no es necesaria ya que ya tenemos el nombre en español
df_sedes_datos = df_sedes_datos.drop(columns=['sede_desc_ingles', 'ciudad_ingles', 'pais_ingles'])

# las columnas 'pais_iso_2' y 'pais_iso_3' y 'codigo_postal', 'telefono_principal' no son necesarias para ninguna consulta
df_sedes_datos = df_sedes_datos.drop(columns=['pais_iso_2', 'pais_iso_3', 'codigo_postal','telefono_principal'])

# la columna 'pais_codigo_telefonico' no es necesaria para ninguna consulta
df_sedes_datos = df_sedes_datos.drop(columns=['pais_codigo_telefonico'])

# las columnas 'ciudad_zona_horaria_gmt	ciudad_codigo_telefonico titular_nombre	titular_apellido	titular_cargo	direccion' no son necesarias para ninguna consulta
df_sedes_datos = df_sedes_datos.drop(columns=['ciudad_zona_horaria_gmt', 'ciudad_codigo_telefonico', 'titular_nombre',	'titular_apellido',	'titular_cargo',	'direccion'])

# las columnas 'sitio_web	sitios_web_adicionales telefonos_adicionales	celular_guardia	celulares_adicionales	fax_principal	faxes_adicionales	correo_electronico	correos_electronicos_adicionales' no son necesarias para ninguna consulta
df_sedes_datos = df_sedes_datos.drop(columns=['sitio_web', 'sitios_web_adicionales', 'telefonos_adicionales',	'celular_guardia',	'celulares_adicionales',	'fax_principal',	'faxes_adicionales'	, 'correo_electronico',	'correos_electronicos_adicionales'])

# las columnas 'atencion_dia_desde	atencion_dia_hasta	atencion_hora_desde	atencion_hora_hasta	atencion_comentario' no son necesarias para ninguna consulta
df_sedes_datos = df_sedes_datos.drop(columns=['atencion_dia_desde', 'atencion_dia_hasta', 'atencion_hora_desde', 'atencion_hora_hasta', 'atencion_comentario'])

In [360]:
df_sedes_datos.head()

,sede_id,sede_desc_castellano,pais_castellano,region_geografica,ciudad_castellano,estado,redes_sociales,concurrencias,circunscripcion
0,CALEG,Consulado General en Porto Alegre,REPÚBLICA FEDERATIVA DEL BRASIL,AMÉRICA DEL SUR,Porto Alegre,Activo,https://twitter.com/ArgPortoAlegre // https:...,NaN,Aceguá; Água Santa; Agudo; Alto Alegre; ...
1,CANTO,Consulado en Antofagasta,REPÚBLICA DE CHILE,AMÉRICA DEL SUR,Antofagasta,Activo,https://www.facebook.com/Consulado-de-la-Rep%C...,NaN,Región de Arica y Parinacota - Capital ...
2,CAREN,Consulado General en Punta Arenas,REPÚBLICA DE CHILE,AMÉRICA DEL SUR,Punta Arenas,Activo,https://www.facebook.com/profile.php?id=100014...,NaN,Región XII Magallanes y Antártica Chilena...
3,CASUN,Consulado General en Asunción,REPÚBLICA DEL PARAGUAY,AMÉRICA DEL SUR,Asunción,Activo,@ArgentinaEnAsuncion //,NaN,"Departamentos de Boquerón, Alto Paraguay, P..."
4,CATLA,Consulado General en Atlanta,Estados Unidos de América,AMÉRICA DEL NORTE,Atlanta,Activo,NaN,NaN,"Estados de Alabama, Carolina del Sur, Geor..."

# IMPORTACIÓN DE DATOS SEGÚN ESQUEMAS

In [361]:
#PAISES

# valores unicos en sedes columna pais_castellano
print("Valores unicos en sedes columna pais_castellano:", df_sedes_datos['pais_castellano'].unique())
print("Cantidad de valores distintos en la columna 'pais_castellano':", df_sedes_datos['pais_castellano'].nunique())

Valores unicos en sedes columna pais_castellano: ['REPÚBLICA  FEDERATIVA  DEL  BRASIL' 'REPÚBLICA  DE  CHILE'
 'REPÚBLICA  DEL  PARAGUAY' 'Estados  Unidos  de  América'
 'REINO  DE  ESPAÑA' 'REPÚBLICA  POPULAR  DE  CHINA'
 'REPÚBLICA  FEDERAL  DE  ALEMANIA' 'ESTADO  PLURINACIONAL  DE  BOLIVIA'
 'REPÚBLICA  ORIENTAL  DEL  URUGUAY' 'República  de  Türkiye'
 'REPÚBLICA  DE  LA  INDIA' 'ESTADO  DE  ISRAEL' 'REPÚBLICA  DEL  ECUADOR'
 'CANADÁ' 'REPÚBLICA  DE  SUDÁFRICA' 'REPÚBLICA  DEL  PERÚ'
 'REINO  UNIDO  DE  GRAN  BRETAÑA  E  IRLANDA  DEL  NORTE'
 'ESTADOS  UNIDOS  MEXICANOS' 'REPÚBLICA  ITALIANA' 'AUSTRALIA'
 'REPÚBLICA  ARGENTINA' 'REPÚBLICA  DE  ANGOLA'
 'REINO  DE  ARABIA  SAUDITA'
 'REPÚBLICA  ARGELINA  DEMOCRÁTICA  Y  POPULAR' 'REPÚBLICA  DE  ARMENIA'
 'REPÚBLICA  ÁRABE  SIRIA' 'REPÚBLICA  DE  AZERBAIYÁN'
 'REPÚBLICA  POPULAR  DE  BANGLADESH' 'BARBADOS' 'Reino  de  Bélgica'
 'REPÚBLICA  DE  BULGARIA' 'REPÚBLICA  CHECA' 'REPÚBLICA  DE  COLOMBIA'
 'REPÚBLICA  DE  COREA' 'REPÚBLICA  DE  CUBA' 'REINO  DE  DINAMARCA'
 'REPÚBLICA  DOMINICANA' 'EMIRATOS  ÁRABES  UNIDOS'
 'REPÚBLICA  ÁRABE  DE  EGIPTO'
 'REPÚBLICA  DEMOCRÁTICA  FEDERAL  DE  ETIOPÍA' 'REPÚBLICA  DE  FILIPINAS'
 'REPÚBLICA  DE  FINLANDIA' 'REPÚBLICA  FRANCESA' 'FEDERACIÓN  DE  RUSIA'
 'REPÚBLICA  HELÉNICA' 'REPÚBLICA  DE  GUATEMALA'
 'REPÚBLICA  COOPERATIVA  DE  GUYANA' 'REPÚBLICA  DE  HAITÍ'
 'REPÚBLICA  DE  HONDURAS' 'REPÚBLICA  ISLÁMICA  DE  IRÁN' 'IRLANDA'
 'REPÚBLICA  DE  INDONESIA' 'JAMAICA' '日本国  (JAPÓN)'
 'REPÚBLICA  DE  KENYA' 'ESTADO  DE  KUWAIT' 'ESTADO  DE  LIBIA'
 'REPÚBLICA  LIBANESA' 'SANTA  LUCÍA' 'REINO  DE  MARRUECOS'
 'REPÚBLICA  DE  MOZAMBIQUE' 'MALASIA' 'REPÚBLICA  DE  NICARAGUA'
 'REPÚBLICA  FEDERAL  DE  NIGERIA' 'REINO  DE  NORUEGA' 'NUEVA  ZELANDIA'
 'Confederación  Suiza' 'REPÚBLICA  ISLÁMICA  DE  PAKISTÁN'
 'REINO  DE  LOS  PAÍSES  BAJOS' 'REPÚBLICA  DE  PANAMÁ'
 'REPÚBLICA  DE  POLONIA' 'REPÚBLICA  PORTUGUESA' 'ESTADO  DE  QATAR'
 'REPÚBLICA  DE  COSTA  RICA' 'RUMANIA' 'REPÚBLICA  DE  EL  SALVADOR'
 'REPÚBLICA  DE  SENEGAL' 'REPÚBLICA  DE  SERBIA'
 'REPÚBLICA  DE  SINGAPUR' 'SANTA  SEDE' 'REINO  DE  SUECIA'
 'REPÚBLICA  DE  SURINAME' 'REINO  DE  TAILANDIA' 'REPÚBLICA  DE  AUSTRIA'
 'REPÚBLICA  DE  TRINIDAD  Y  TOBAGO' 'REPÚBLICA  TUNECINA' 'UCRANIA'
 'HUNGRÍA' 'REPÚBLICA  BOLIVARIANA  DE  VENEZUELA'
 'REPÚBLICA  SOCIALISTA  DE  VIETNAM' 'ESTADO  DE  PALESTINA']
Cantidad de valores distintos en la columna 'pais_castellano': 91

In [362]:
# a df with only the values of the column 'pais_castellano' that are not null, and are not 'Argentinos en el exterior', and unique, with the column name 'pais'
df_paises = df_sedes_datos[df_sedes_datos['pais_castellano'].notna() & df_sedes_datos['region_geografica'].notna() & 
                     (df_sedes_datos['pais_castellano'] != 'Argentinos  en  el  exterior')][['pais_castellano', 'region_geografica']].drop_duplicates()
df_paises.columns = ['pais', 'region_geografica']
df_paises.head()

                                 pais    region_geografica
0  REPÚBLICA  FEDERATIVA  DEL  BRASIL    AMÉRICA  DEL  SUR
1                REPÚBLICA  DE  CHILE    AMÉRICA  DEL  SUR
3            REPÚBLICA  DEL  PARAGUAY    AMÉRICA  DEL  SUR
4        Estados  Unidos  de  América  AMÉRICA  DEL  NORTE
5                   REINO  DE  ESPAÑA   EUROPA  OCCIDENTAL

In [363]:
#filter df_migraciones where Argentina is the country of origin or the country of destination
df_migraciones = df_migraciones[
    ((df_migraciones['Country Origin Name'] == 'Argentina') | (df_migraciones['Country Dest Name'] == 'Argentina'))
    & df_migraciones['Country Origin Name'] != df_migraciones['Country Dest Name']]
#instead of '1960 [1960]	1970 [1970]	1980 [1980]	1990 [1990]	2000 [2000]' use 'año' and 'cantidad'

#rename '1960 [1960]	1970 [1970]	1980 [1980]	1990 [1990]	2000 [2000]' to only the year
df_migraciones['1960'] = df_migraciones['1960 [1960]']
df_migraciones['1970'] = df_migraciones['1970 [1970]']
df_migraciones['1980'] = df_migraciones['1980 [1980]']
df_migraciones['1990'] = df_migraciones['1990 [1990]']
df_migraciones['2000'] = df_migraciones['2000 [2000]']
#drop the columns '1960 [1960]	1970 [1970]	1980 [1980]	1990 [1990]	2000 [2000]'
df_migraciones = df_migraciones.drop(columns=['1960 [1960]', '1970 [1970]', '1980 [1980]', '1990 [1990]', '2000 [2000]'])

# Melt the dataframe to transform the year columns into rows
df_migraciones = df_migraciones.melt(id_vars=['Country Origin Name', 'Country Dest Name'], 
                                     var_name='año', 
                                     value_name='cantidad')

"""Country Origin Name	Country Dest Name	año	cantidad
0	Afghanistan	Argentina	1960	6"""
#if we have country dest name as Argentina, use 'pais' with the other country and set 'emigracion' as 0 and 'inmigracion' as 'cantidad'

for index, row in df_migraciones.iterrows():
    if row['Country Dest Name'] == 'Argentina':
        df_migraciones.at[index, 'pais'] = row['Country Origin Name']
        df_migraciones.at[index, 'inmigracion'] = row['cantidad']
        df_migraciones.at[index, 'emigracion'] = 0
    else:
        df_migraciones.at[index, 'pais'] = row['Country Dest Name']
        df_migraciones.at[index, 'emigracion'] = row['cantidad']
        df_migraciones.at[index, 'inmigracion'] = 0

#drop the columns 'Country Origin Name' and 'Country Dest Name' and set pais to first column
df_migraciones = df_migraciones.drop(columns=['Country Origin Name', 'Country Dest Name'])
df_migraciones = df_migraciones[['pais', 'año', 'emigracion', 'inmigracion']]

df_migraciones.head(20)

                   pais   año emigracion inmigracion
0           Afghanistan  1960          0         0.0
1               Albania  1960          0         0.0
2               Algeria  1960         41         0.0
3        American Samoa  1960          0         0.0
4               Andorra  1960          0         0.0
5                Angola  1960          0         0.0
6              Anguilla  1960          0         0.0
7   Antigua and Barbuda  1960          0         0.0
8           Afghanistan  1960          0           6
9               Armenia  1960          0           0
10                Aruba  1960          0           0
11            Australia  1960         42           0
12              Austria  1960         47           0
13           Azerbaijan  1960          0           0
14         Bahamas, The  1960          0           0
15              Bahrain  1960         62           0
16           Bangladesh  1960        151           0
17             Barbados  1960          0           0
18              Belarus  1960          0           0
19              Belgium  1960         16           0

In [366]:
df_sedes_datos.head()

,sede_id,sede_desc_castellano,pais_castellano,region_geografica,ciudad_castellano,estado,redes_sociales,concurrencias,circunscripcion
0,CALEG,Consulado General en Porto Alegre,REPÚBLICA FEDERATIVA DEL BRASIL,AMÉRICA DEL SUR,Porto Alegre,Activo,https://twitter.com/ArgPortoAlegre // https:...,NaN,Aceguá; Água Santa; Agudo; Alto Alegre; ...
1,CANTO,Consulado en Antofagasta,REPÚBLICA DE CHILE,AMÉRICA DEL SUR,Antofagasta,Activo,https://www.facebook.com/Consulado-de-la-Rep%C...,NaN,Región de Arica y Parinacota - Capital ...
2,CAREN,Consulado General en Punta Arenas,REPÚBLICA DE CHILE,AMÉRICA DEL SUR,Punta Arenas,Activo,https://www.facebook.com/profile.php?id=100014...,NaN,Región XII Magallanes y Antártica Chilena...
3,CASUN,Consulado General en Asunción,REPÚBLICA DEL PARAGUAY,AMÉRICA DEL SUR,Asunción,Activo,@ArgentinaEnAsuncion //,NaN,"Departamentos de Boquerón, Alto Paraguay, P..."
4,CATLA,Consulado General en Atlanta,Estados Unidos de América,AMÉRICA DEL NORTE,Atlanta,Activo,NaN,NaN,"Estados de Alabama, Carolina del Sur, Geor..."

In [372]:
# for column 'redes_sociales' break the values in words and for each word, create a new row with the same values of the other columns
df_sedes_datos_redes = df_sedes_datos[df_sedes_datos['redes_sociales'].notna()]
# Split the 'redes_sociales' column into words and create a new row for each word
rows = []
for index, row in df_sedes_datos_redes.iterrows():
    words = row['redes_sociales'].split()
    #delete the row with the original value
    df_sedes_datos_redes.drop(index)

    for word in words:
        new_row = row.copy()
        new_row['redes_sociales'] = word
        rows.append(new_row)

df_sedes_datos_redes_expanded = pd.DataFrame(rows)
#drop if redes sociales is //
df_sedes_datos_redes_expanded = df_sedes_datos_redes_expanded[
    df_sedes_datos_redes_expanded['redes_sociales'] != '//' &
    'http'.isin(df_sedes_datos_redes_expanded['hn']) &
    'www'.isin(df_sedes_datos_redes_expanded['redes_sociales'])
    ]
df_sedes_datos_redes_expanded.head(50)

AttributeError: 'str' object has no attribute 'isin'

# CONSULTAS SQL

In [364]:
from inline_sql import sql, sql_val

In [365]:
consultaSQL = """
               SELECT DISTINCT pais
               FROM ;
              """

dataframeResultado = sql^ consultaSQL

print(dataframeResultado)

ParserException: Parser Error: syntax error at or near ";"

In [318]:
# Ejercicios AR-PROJECT, SELECT, RENAME
empleado = pd.read_csv("empleado.csv")

print(empleado)

consultaSQL = """
               SELECT DISTINCT DNI, Salario
               FROM empleado;
              """

dataframeResultado = sql^ consultaSQL

print(dataframeResultado)

        DNI  Nombre Sexo  Salario
0  20222333   Diego    M  20000.0
1  33456234   Laura    F  25000.0
2  45432345  Marina    F  10000.0

CatalogException: Catalog Error: Table with name empleado does not exist!
Did you mean "pg_class"?
LINE 3:                FROM empleado;
                            ^